@import "variables";
@media (min-width: 320px) and (max-width: 568px) {
  .navigation{
    display: none;
  }
  .buttonMobile{
    display: block;
  }
  .bgContainer__wrapper{
    height: 200px;
  }
  .containerWithBlocks {
    display: block;
  }
  .joinBlocks {
    width: 100%;
    margin-bottom: 10px;
    height: auto;
  }
  .joinBlocks__wrapper p {
    font-size: 14px;
  }
  .footer-info__wrapper {
    flex-wrap: wrap;
  }
  .gallery{
    margin: 0 auto;
  }
  .footer-info__wrapper--footer-text h2 {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 568px) and (max-width: 812px) {
  .joinBlocks__wrapper--img {
    margin-right: 3%;
    img{
      width: auto;
    }
  }
  .joinBlocks__wrapper {
    display: flex;
    justify-content: space-between;
    line-height: 24px;
  }
  .joinBlocks__wrapper a {
    display: none;
  }
  .navigation{
    display: none;
  }
  .buttonMobile{
    display: block;
  }
  .bgContainer__wrapper{
    height: 200px;
  }
  .containerWithBlocks {
    display: block;
  }
  .joinBlocks {
    width: 100%;
    margin-bottom: 10px;
    height: auto;
  }
  .joinBlocks__wrapper p {
    font-size: 17px;
  }
  .footer-info__wrapper {
    flex-wrap: wrap;
  }
  .gallery{
    margin: 0 auto;
  }
  .footer-info__wrapper--footer-text h2 {
    display: flex;
    justify-content: center;
  }
}