<div class="buttonMobile">
    <input id="hamburger" class="hamburger" type="checkbox"/>
    <label class="hamburger" for="hamburger">
        <i></i>
        <text>
            <close>close</close>
            <open>menu</open>
        </text>
    </label>
    <section class="drawer-list">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">portfolio</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </section>
</div>

<div class="navigation">
    <nav>
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">portfolio</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </nav>
    <form action="" method="post" class="search">
        <input type="search" name="" placeholder="search" class="input" />
        <input type="submit" name="" value="" class="submit" />
    </form>
</div>