<div class="containerWithBlocks">
    <div class="joinBlocks">
        <div class="joinBlocks__wrapper">
            <div class="joinBlocks__wrapper--img">
                <img src="img/old-home.png" alt="old-home image" width="201" height="157"/>
            </div>
            <p>
                Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer
            </p>
            <a href="#">more...</a>
        </div>
    </div>
    <div class="joinBlocks">
        <div class="joinBlocks__wrapper">
            <div class="joinBlocks__wrapper--img">
                <img src="img/old-car.png" alt="old-car image" width="201" height="155"/>
            </div>
            <p>
                Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer
            </p>
            <a href="#">more...</a>
        </div>
    </div>
    <div class="joinBlocks">
        <div class="joinBlocks__wrapper">
            <div class="joinBlocks__wrapper--img">
                <img src="img/old-img.png" alt="old image" width="205" height="155"/>
            </div>
            <p>
                Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer
            </p>
            <a href="#">more...</a>
        </div>
    </div>
    <div class="joinBlocks">
        <div class="joinBlocks__wrapper">
            <div class="joinBlocks__wrapper--img">
                <img src="img/trees.png" alt="trees image" width="205" height="155"/>
            </div>
            <p>
                Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer
            </p>
            <a href="#">more...</a>
        </div>
    </div>
</div>