<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Essention</title>

</head>
<body ng-app>

<section>
    <div class="main">
        <div class="main__wrapper">
            <div>
                <!--<input type="text" ng-model="name">-->
                <!--Hello {{name}}-->
                <!--<input type="checkbox" ng-model="ShowCheck">-->
                <!--<div ng-show="ShowCheck">test for test`s</div>-->
                <!--<p>Nothing here {{'yet' + '!'}}</p>-->
            </div>
        </div>
    </div>
</section>

</body>
</html>