$fontMontserrat: 'Montserrat', sans-serif;
$SizeTextMenu: 16px;
$colorTextMenu: #8a8a8a;
$colorFocusMenu: #354a9e;
$SizeTextH1: 55px;
$SizeTextP: 18px;
$sizeTextH1Contact: 25px;
$sizeTextP1Contact: 16px;
$colorP1Contact: #1b264d;
$sizeTextP2Contact: 20px;
$backGroundColorFooter: #131b36;
$sizeTextFooterSpan: 14px;