$sidebarBG: #252c31;
$headerBG: #f1f1f1;
$colorBorderLeft: #ff503f;
$colorNavLinkGray: #787878;
$noticeBG: #adadad;
$borderColorDashboard: #c8c8c8;
$buttonWithDropMenuBG: #aacc4e;
$colorOnlineText: #8da5b6;