<div class="main-container__content-middle">
    <div class="blockJoin">
        <div class="blockJoin__text">
            <span>Search a Project with Name, Task, User...</span>
        </div>

        <div class="blockJoin__button">
            <button class="blockJoin__button--list">
                <span><b>New Projects</b> (descending)</span>
                <img src="img/icon-drop-down-menu2.png" alt="icon drop down">
            </button>
            <button class="blockJoin__button--add"><span>+</span></button>
        </div>
    </div>

    <div class="blockJoin">
        <div class="blockJoin__percent">
            <div><span>23%</span></div>
            <span>Create Contact Formular</span>
        </div>

        <div class="blockJoin__rightButtons">
            <div>WORLDA</div>
            <button>
                <span>
                    <img src="img/icon-search.png" alt="icon search"/>
                </span>
            </button>

            <button>
                <span>
                    <img src="img/icon-drop-down-menu2.png" alt="icon drop"/>
                </span>
            </button>
        </div>
    </div>

    <div class="blockJoin">
        <div class="blockJoin__percent">
            <div><span>87%</span></div>
            <span>Create Subpage PSD</span>
        </div>

        <div class="blockJoin__rightButtons">
            <div>PANORAMA</div>
            <button>
                <span>
                    <img src="img/icon-search.png" alt="icon search"/>
                </span>
            </button>

            <button>
                <span>
                    <img src="img/icon-drop-down-menu2.png" alt="icon drop"/>
                </span>
            </button>
        </div>
    </div>

    <div class="blockJoin">
        <div class="blockJoin__percent">
            <div><span>83%</span></div>
            <span>Layout & implementation in HTML & CSS</span>
        </div>

        <div class="blockJoin__rightButtons">
            <div>Ebay Relaunch</div>
            <button>
                <span>
                    <img src="img/icon-search.png" alt="icon search"/>
                </span>
            </button>

            <button>
                <span>
                    <img src="img/icon-drop-down-menu2.png" alt="icon drop"/>
                </span>
            </button>
        </div>
    </div>

    <div class="blockGray">
        <div class="blockGray__percent">
            <div><span>66%</span></div>
            <span>Creating the Context</span>
        </div>

        <div class="blockGray__rightAll">

            <div class="face">
                <div class="face__img">
                    <img src="img/icon-little-face1-Mark.png" alt="face1"/>
                </div>

                <div class="face__notice"></div>
            </div>

            <div class="face">
                <div class="face__img img2">
                    <img src="img/icon-little-face2.png" alt="face2"/>
                </div>

                <div class="face__notice"></div>
            </div>

            <div class="face">
                <div class="face__img img3">
                    <img src="img/icon-little-face3-Sebastian.png" alt="face3"/>
                </div>

                <div class="face__notice face__noticeGray"></div>
            </div>

            <div class="etc"><span>+3</span></div>

            <div class="day">
                <a href="#"><img src="img/icon-update-gray.png" alt="icon update"/></a>
                <span>Today, 13:40 PM</span>
            </div>

            <button>
                <span>
                    <img src="img/icon-search.png" alt="icon search"/>
                </span>
            </button>

        </div>
    </div>

    <div class="blockGray">
        <div class="blockGray__percent">
            <div><span class="spanReady">READY</span></div>
            <span>Implementation in the Layout</span>
        </div>

        <div class="blockGray__rightAll">

            <div class="face face1">
                <div class="face__img">
                    <img src="img/icon-little-face1-Mark.png" alt="face1"/>
                </div>

                <div class="face__notice"></div>
            </div>

            <div class="face">
                <div class="face__img img2">
                    <img src="img/icon-little-face2.png" alt="face2"/>
                </div>

                <div class="face__notice"></div>
            </div>

            <div class="face">
                <div class="face__img img3">
                    <img src="img/icon-little-face3-Sebastian.png" alt="face3"/>
                </div>

                <div class="face__notice face__noticeGray"></div>
            </div>

            <div class="day">
                <a href="#"><img src="img/icon-update-gray.png" alt="icon update"/></a>
                <span>Yestarday, 12:40 PM</span>
            </div>

            <button>
                <span>
                    <img src="img/icon-search.png" alt="icon search"/>
                </span>
            </button>
        </div>
    </div>

    <div class="blockJoin">
        <div class="blockJoin__percent">
            <div><span>23%</span></div>
            <span>Lorem ipsum dolor sit amet, elitr, sed diam<br>
                                            nonumy eirmod tempor</span>
        </div>

        <div class="blockJoin__rightButtons">
            <div>PANORAMA</div>
            <button>
                <span>
                    <img src="img/icon-search.png" alt="icon search"/>
                </span>
            </button>

            <button>
                <span>
                    <img src="img/icon-drop-down-menu2.png" alt="icon drop"/>
                </span>
            </button>
        </div>
    </div>

    <div class="blockJoin">
        <div class="blockJoin__percent">
            <div><span>98%</span></div>
            <span>Create Contact Formular</span>
        </div>

        <div class="blockJoin__rightButtons">
            <div>WORLDA</div>
            <button>
                <span>
                    <img src="img/icon-search.png" alt="icon search"/>
                </span>
            </button>

            <button>
                <span>
                    <img src="img/icon-drop-down-menu2.png" alt="icon drop"/>
                </span>
            </button>
        </div>
    </div>

    <div class="blockJoin">
        <div class="blockJoin__percent">
            <div><span>98%</span></div>
            <span>Create Contact Formular</span>
        </div>

        <div class="blockJoin__rightButtons">
            <div>WORLDA</div>
            <button>
                <span>
                    <img src="img/icon-search.png" alt="icon search"/>
                </span>
            </button>

            <button>
                <span>
                    <img src="img/icon-drop-down-menu2.png" alt="icon drop"/>
                </span>
            </button>
        </div>
    </div>

    <div class="blockJoin">
        <div class="blockJoin__percent">
            <div><span>98%</span></div>
            <span>Create Contact Formular</span>
        </div>

        <div class="blockJoin__rightButtons">
            <div>WORLDA</div>
            <button>
                <span>
                    <img src="img/icon-search.png" alt="icon search"/>
                </span>
            </button>

            <button>
                <span>
                    <img src="img/icon-drop-down-menu2.png" alt="icon drop"/>
                </span>
            </button>
        </div>
    </div>

    <div class="archiv">
        <div>
            <span>Project Archiv</span>
            <span><img src="img/icon-an-indication.png" alt="icon '>'" /></span>
        </div>
    </div>

</div>