<div class="main-container__content-right">

    <div class="main-container__content-right--block">
        <div class="face">
            <div class="face__img2 imgMark">
                <img src="img/icon-little-face1-Mark.png" alt="face1"/>
            </div>

            <div class="face__notice"></div>
        </div>

        <div class="text">
            <span>
                <b>Mark P.</b> add an Image into Worlda<br>
                Today, 10:30 PM
            </span>
        </div>
    </div>

    <div class="main-container__content-right--block">
        <div class="face">
            <div class="face__img2 imgMarvin">
                <img src="img/icon-little-face-Marvin.png" alt="face2"/>
            </div>

            <div class="face__notice"></div>
        </div>

        <div class="text textMarv">
            <span>
                <b>Marvin S.</b> add an Image into Worlda<br>
                Today, 10:30 PM
            </span>
        </div>
    </div>

    <div class="main-container__content-right--block">
        <div class="face">
            <div class="face__img2 imgSeb">
                <img src="img/icon-little-face3-Sebastian.png" alt="face3"/>
            </div>

            <div class="face__notice face__noticeGray"></div>
        </div>

        <div class="text textSeb">
            <span>
                <b>Sebastian K.</b> add an Image into Worlda<br>
                Today, 10:30 PM
            </span>
        </div>
    </div>

    <div class="main-container__content-right--block">
        <div class="face">
            <div class="face__img2 imgMark">
                <img src="img/icon-little-face1-Mark.png" alt="face1"/>
            </div>

            <div class="face__notice"></div>
        </div>

        <div class="text">
            <span>
                <b>Mark P.</b> add an Image into Worlda<br>
                Today, 10:30 PM
            </span>
        </div>
    </div>

    <div class="main-container__content-right--block">
        <div class="face">
            <div class="face__img2 imgPhi">
                <img src="img/icon-face-philip.png" alt="face5"/>
            </div>

            <div class="face__notice"></div>
        </div>

        <div class="text">
            <span>
                <b>Philip O.</b> add an Image into Worlda<br>
                Today, 10:30 PM
            </span>
        </div>
    </div>

    <div class="main-container__content-right--block">
        <div class="face">
            <div class="face__img2 imgMark">
                <img src="img/icon-little-face1-Mark.png" alt="face1"/>
            </div>

            <div class="face__notice"></div>
        </div>

        <div class="text">
            <span>
                <b>Mark P.</b> add an Image into Worlda<br>
                Today, 10:30 PM
            </span>
        </div>
    </div>

    <div class="main-container__content-right--block">
        <div class="face">
            <div class="face__img2 imgBenni">
                <img src="img/icon-little-face-Benni.png" alt="face Benni"/>
            </div>

            <div class="face__notice"></div>
        </div>

        <div class="text">
            <span>
                <b>Benni I.</b> add an Image into Worlda<br>
                Today, 10:30 PM
            </span>
        </div>
    </div>

    <div class="main-container__content-right--block">
        <div class="face">
            <div class="face__img2 imgBenni">
                <img src="img/icon-little-face-Benni.png" alt="face Benni"/>
            </div>

            <div class="face__notice"></div>
        </div>

        <div class="text">
            <span>
                <b>Benni I.</b> add an Image into Worlda<br>
                Today, 10:30 PM
            </span>
        </div>
    </div>

    <div class="main-container__content-right--block">
        <div class="face">
            <div class="face__img2 imgMark">
                <img src="img/icon-little-face1-Mark.png" alt="face1"/>
            </div>

            <div class="face__notice"></div>
        </div>

        <div class="text">
            <span>
                <b>Benni I.</b> add an Image into Worlda<br>
                Today, 10:30 PM
            </span>
        </div>
    </div>

    <div class="main-container__content-right--block">
        <div class="face">
            <div class="face__img2 imgBenni">
                <img src="img/icon-little-face-Benni.png" alt="face Benni"/>
            </div>

            <div class="face__notice"></div>
        </div>

        <div class="text">
            <span>
                <b>Benni I.</b> add an Image into Worlda<br>
                Today, 10:30 PM
            </span>
        </div>
    </div>

    <div class="archiv main-container__content-right--block mr">
        <div>
            <span>Activity Archiv</span>
            <span><img src="img/icon-an-indication.png" alt="icon '>'" /></span>
        </div>
    </div>

</div>