<div class="header">
    <div class="header__content">
        <div class="header__content--dashboard">
            <div>
                                    <span>
                                        <img src="img/icon-update.png" alt="icon update"/>
                                    </span>
            </div>

            <div>
                <span>Dashboard</span>
            </div>
        </div>

        <div class="header__content--online">
            <div class="header__content--online-dropDiv">
                                    <span>
                                        <img src="img/icon-drop-down-menu.png" alt="icon for drop-menu"/>
                                    </span>
            </div>

            <div class="header__content--online-user">
                <img src="img/icon-message.png" alt="icon message"/>
                <span>5 USER ONLINE</span>
                <a href="#"><img src="img/icon-drop-down-menu2.png" alt="icon for drop-menu(gray)"/></a>
            </div>
        </div>
    </div>

    <nav>
        <div class="header__nav">
            <div class="header__nav--link">
                <div class="header__nav--link-projects">
                    <a href="#"><img src="img/icon-clock.png" alt="icon clock"></a>
                    <span>Active Projects</span>
                    <div><span>9</span></div>
                </div>
                <div class="header__nav--link-messenger">
                    <a href="#"><img src="img/icon-paper-sheet.png" alt="icon paper sheet"/> </a>
                    <span>Messenger</span>
                    <div><span>2</span></div>
                </div>
            </div>

            <div class="header__nav--txt">Search Project, User, Task, etc...</div>
        </div>
    </nav>
</div>