<div class="sidebar">
    <nav>
        <div class="sidebar__icon">
            <div class="sidebar__icon--face-boy">
                <img src="img/face.png" alt="face boy"/>
            </div>
            <div class="sidebar__icon--notice"><span>2</span></div>
        </div>

        <ul>
            <li>
                <img src="img/trenner.png" alt="..."/>
            </li>

            <li>
                <a href="#">
                    <p><img src="img/icon-left-1.png" alt="icon board"/></p>
                    <figcaption>Board</figcaption>
                </a>
            </li>

            <li>
                <img src="img/trenner.png" alt="..."/>
            </li>

            <li>
                <a href="#">
                    <div><span>9</span></div>
                    <p><img src="img/icon-left-2.png" alt="icon projects"/></p>
                    <figcaption>Projects</figcaption>
                </a>
            </li>

            <li>
                <img src="img/trenner.png" alt="..."/>
            </li>

            <li>
                <a href="#">
                    <p><img src="img/icon-left-3.png" alt="icon settings"/></p>
                    <figcaption>Settings</figcaption>
                </a>
            </li>

            <li></li>

            <li>
                <a href="#">
                    <div><span>3</span></div>
                    <p><img src="img/icon-left-4.png" alt="icon upgrade"/></p>
                    <figcaption>Upgrade</figcaption>
                </a>
            </li>

            <li>
                <img src="img/trenner.png" alt="..."/>
            </li>

            <li>
                <a href="#">
                    <p><img src="img/icon-left-5.png" alt="icon logout"/></p>
                    <figcaption>Logout</figcaption>
                </a>
            </li>
        </ul>
    </nav>
</div>