$fontForHeader: 'Open Sans', sans-serif;
$fontSizeForHeaderUpper: 28px;
$fontSizeForHeaderLower: 16px;
$colorTextH1: #212121;
$colorTextPandLabel: #888888;
$backGroundBody: #fafafa;
$borderColorBody: #f5f5f5;
$SizeTextForPro: 20px;
$ColorTextForPro: #00baff;
$SizeTextFor40month: 24px;
$ColorTextForPro40monthETC: #444444;