<div class="about">
    <div class="about__wrapper">
        <div class="about__wrapper--hr1">
            <hr width="70px" color="white">
        </div>
        <h1>about us</h1>
        <div class="about__wrapper--hr2">
            <hr width="70px" color="white">
        </div>
        <p class="about__wrapper--pOne">WebServices ltd. was among the first companies offering e-commerce and professional payment processing services, modern fraud<br>
            and chargeback prevention instruments and 24/7 customer support.</p>
        <p>It did not take long before WebServices ltd. took up a leading position on the market thanks to its constant development and a desire<br>
            to overcome a growing competition with the aid of advanced software and customizable services.</p>
        <p>   Today, every business collaborating with WebServices ltd. can see a significant growth in their revenue. The company works with<br>
            businesses from all over the world aiming to meet and even exceed expectations of the customers, both existing and new ones.</p>
    </div>
</div>