<div class="contact">
    <div class="contact__wrapper">
        <div class="contact__wrapper--hr1">
            <hr width="70px" color="#354a9e">
        </div>
        <h1>contact us</h1>
        <div class="contact__wrapper--hr2">
            <hr width="70px" color="#354a9e">
        </div>
        <p>Unit F, 11/F, CNT Tower,<br>
            338 Hennessy Road, Wan Chai, Hong Kong</p>
        <div class="contact__wrapper--join">
            <div id="map" class="contact__wrapper--join---map"></div>
            <div class="contact__wrapper--join---form">
                <form>
                    <input name="from" type="name" placeholder="Name">
                    <input name="email" type="email" placeholder="Email" id="email">
                    <label>
                        <textarea name="message" placeholder="Message"></textarea>
                    </label>
                    <input type="button" name="check" value="SEND">
                </form>
            </div>
        </div>
    </div>
</div>