<div class="contact">
    <div class="contact__wrapper">
        <div class="contact__wrapper--hr1">
            <hr width="70px" color="#354a9e">
        </div>
        <h1>contact us</h1>
        <div class="contact__wrapper--hr2">
            <hr width="70px" color="#354a9e">
        </div>
        <p>Unit F, 11/F, CNT Tower,<br>
            338 Hennessy Road, Wan Chai, Hong Kong</p>
        <div class="contact__wrapper--join">
            <div id="map" class="contact__wrapper--join---map"></div>
            <div class="contact__wrapper--join---form">
                <form action="#" method="post" onsubmit="alert('submit!');return false">
                        <div>
                            <label for="firstName">First name <abbr title="Required">*</abbr></label>
                            <input
                                    aria-required="true"
                                    id="firstName"
                                    name="author"
                                    pattern="^([- \w\d\u00c0-\u024f]+)$"
                                    required="required"
                                    size="20"
                                    spellcheck="false"
                                    title="Your first name (input in English and no special characters)"
                                    type="text"
                                    value="">
                        </div>

                        <div>
                            <label for="lastName">Last name <abbr title="Required">*</abbr></label>
                            <input
                                    aria-required="true"
                                    id="lastName"
                                    name="author"
                                    pattern="^([- \w\d\u00c0-\u024f]+)$"
                                    required="required"
                                    size="20"
                                    spellcheck="false"
                                    title="Your last name (input in English and no special characters)"
                                    type="text"
                                    value="">
                        </div>

                        <div>
                            <label for="email">Email <abbr title="Required">*</abbr></label>
                            <input
                                    aria-required="true"
                                    id="email"
                                    name="email"
                                    pattern="^(([-\w\d]+)(\.[-\w\d]+)*@([-\w\d]+)(\.[-\w\d]+)*(\.([a-zA-Z]{2,5}|[\d]{1,3})){1,2})$"
                                    required="required"
                                    size="30"
                                    spellcheck="false"
                                    title="Your email address(input in English. For example - name@gmail.com)"
                                    type="email"
                                    value="">
                        </div>

                        <button name="save" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>