<div class="customer" id="customer">
    <div class="customer__wrapper">
        <div class="customer__wrapper--hr1">
            <hr width="70px" color="#354a9e">
        </div>
        <h1>customer services</h1>
        <div class="customer__wrapper--hr2">
            <hr width="70px" color="#354a9e">
        </div>
        <p class="customer__wrapper--oneP"><span>webServices</span> ltd. is everything even the most demanding customer looks for in a payment service provider. <span>thanks</span> to our expertise</p>
        <p class="customer__wrapper--twoP">and years of experience in the field, you will start accepting online payments within several business days.</p>
        <ul>
            <li>
                <a href="#">
                    <div class="joinForLi">
                        <div><img src="../img/fast_payment.svg" alt="fast_payment" width="77" height="77"></div>
                        <p>Fast<br>Payment</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="joinForLi">
                        <div><img src="../img/data_authentication.svg" alt="data_authentication" width="81" height="77"></div>
                        <p>Data authentication<br>and processing</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="joinForLi">
                        <div><img src="../img/secure_infrastructure.svg" alt="secure_infrastructure" width="65" height="77"></div>
                        <p>Secure IT<br>Infrastructure</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="joinForLi">
                        <div><img src="../img/technical_support.svg" alt="technical_support" width="77" height="77"></div>
                        <p>Technical<br>Support</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>