<div class="header">
    <div class="header__part1">
        <div class="header__part1--logo">
            <a href="#"><img src="../img/webservices_logo.svg" alt="webservices_logo" width="112" height="66"></a>
        </div>
        <div class="header__part1--buttonMenu">
            <input id="hamburger" class="hamburger" type="checkbox"/>
            <label class="hamburger" for="hamburger">
                <i></i>
                <text>
                    <close>close</close>
                    <open>menu</open>
                </text>
            </label>
            <section class="drawer-list">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">services</a></li>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">contact us</a></li>
                </ul>
            </section>
        </div>
        <div class="header__part1--menu">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">contact us</a></li>
            </ul>
        </div>
    </div>
    <div class="header__part2">
        <div class="header__part2--text">
            <h1><span>solutions</span> for your business</h1>
            <p><span>accept</span> credit cards on your web store today! <span>customized</span> e-commerce<br>
                solutions. <span>all</span> the tools you’ll need to grow your business.</p>
        </div>
        <button type="button" class="scroll_down" id="scroll_down"></button>
    </div>
</div>