<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PayDo</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="general">
        <div class="general__wrapper">
            <div class="nav">
                {% include "src/templates/menu.html" %}
            </div>
            <section>
                {% include "src/templates/container1.html" %}
            </section>

            <section>
                {% include "src/templates/container2.html" %}
            </section>

            <section>
                {% include "src/templates/container3.html" %}
            </section>

            <section>
                {% include "src/templates/container4.html" %}
            </section>

            <section>
                {% include "src/templates/container5.html" %}
            </section>

            <section>
                {% include "src/templates/container6.html" %}
            </section>
        </div>
    </div>
<script src="script.js"></script>
</body>
</html>