$colorTextHeaderOne: #076e9f;
$colorTextHeaderTwo: #22aaec;
$colorTextMenu: #707070;
$backGroundMenu: #0772a3;
$borderMenu: #045279;
$borderImg: #22aaec;
$backGroundBlocksSection: #e8e8e7;
$backGroundTr1: #c7e9fa;
$backGroundTr2: #b1e1f8;
$backGroundButton: #07699a;
$borderBottomColor: #00141e;
$borderAllButtonColor: #045279;