h1{
    text-align: center;
}
.form-control{
    display: flex;
    width: auto;
    margin-bottom: 10px;
}
.form-group{
    margin: 0;
    display: flex;
    justify-content: flex-start;
}
.form-group label{
    margin-right: 10px;
}
.general{
    padding-left: 50px;
}
.form-control{
    margin-top: 10px;
    display: block;
    height: 100%;
    width: 50%;
}
label{
    margin-top: 15px;
}
