<div class="article">
    <div class="article__part1">
        <div class="article__part1--block1 joinBlocks">
            <p>new attractions</p>
            <p>Posted by <span>John Doe</span> on <span>10 Nov 2013</span></p>
            <p>Donec sed odio dui. Duis mollis, est non commodo luctus,<br>
                nisi erat porttitor ligula, eget lacinia odio sem nec elit.<br>
                Sed posuere consectetur est at lobortis.
            </p>
            <details>
                <summary>more...</summary>
                <!--<p> - There could be something interesting.</p>-->
            </details>
            <div class="mainIcons">
                <div class="joinBlocksTwo">
                    <div class="joinBlocksTwo__container1"><img src="../img/like-blue-icon.png" alt="like-icon" width="16" height="15"></div>
                    <a href="#"><span>12</span></a>
                </div>
                <div class="joinBlocksTwo">
                    <div class="joinBlocksTwo__container2"><img src="../img/comment-blue-icon.png" alt="comment-icon" width="16" height="17"></div>
                    <a href="#"><span>34</span></a>
                </div>
            </div>
        </div>
        <div class="article__part1--block2 joinBlocks">
            <p>let`s meet on old market square<br>it will be fun</p>
            <p>Posted by <span>John Doe</span> on <span>09 Nov 2013</span></p>
            <p>Donec sed odio dui. Duis mollis, est non commodo luctus,<br>
                nisi erat porttitor ligula, eget lacinia odio sem nec elit.<br>
                Sed posuere consectetur est at lobortis. Eget lacinia odio sem nec elit.<br>
                Sed posuere consectetur est at lobortis.eget lacinia...
            </p>
            <details>
                <summary>more...</summary>
                <!--<p> - There could be something interesting.</p>-->
            </details>
            <div class="mainIcons">
                <div class="joinBlocksTwo">
                    <div class="joinBlocksTwo__container1"><img src="../img/like-blue-icon.png" alt="like-icon" width="16" height="15"></div>
                    <a href="#"><span>12</span></a>
                </div>
                <div class="joinBlocksTwo">
                    <div class="joinBlocksTwo__container2"><img src="../img/comment-blue-icon.png" alt="comment-icon" width="16" height="17"></div>
                    <a href="#"><span>34</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="article__part2">
        <span>your ad here</span>
    </div>
    <hr width="100%">
</div>