<div class="aside">
    <div class="aside__block1">
        <p>about author</p>
        <p><span>John Doe</span> - lacus vel augue laoreet<br> rutrum faucibus dolor auctor. Integer<br> posuere erat a ante venenatis dapibus<br> posuere velit aliquet. Vestibulum id<br> ligula porta.</p>
    </div>
    <div class="aside__block2">
        <p>related posts</p>
        <div class="aside__block2--blockJoin">
            <div><img src="../img/left-column-img-1.png" alt="left-column-img-1" width="50" height="40"></div>
            <div>
                <span>poznan at night</span>
                <div>
                    <img src="../img/comment-aside.png">
                    <a href="#">10 comments</a>
                </div>
            </div>
        </div>
        <div class="aside__block2--blockJoin">
            <div><img src="../img/left-column-img-2.png" alt="left-column-img-2" width="50" height="40"></div>
            <div>
                <span>people to meet</span>
                <div>
                    <img src="../img/comment-aside.png">
                    <a href="#">21 comments</a>
                </div>
            </div>
        </div>
        <div class="aside__block2--blockJoin">
            <div><img src="../img/left-column-img-3.png" alt="left-column-img-3" width="50" height="40"></div>
            <div>
                <span>visit our office</span>
                <div>
                    <img src="../img/comment-aside.png">
                    <a href="#">17 comments</a>
                </div>
            </div>
        </div>

    </div>
    <div class="aside__block3">
        <p>currency</p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>date</th>
                <th>value</th>
                <th>status</th>
                <th>diff</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>22.1</td>
                <td>459.5</td>
                <td><img src="../img/status-icon-1-and-3.png" alt="status-icon-1-and-3" width="15" height="11"></td>
                <td>+1.0</td>
            </tr>
            <tr>
                <td>21.1</td>
                <td>448.5</td>
                <td><img src="../img/status-icon-2.png" alt="status-icon-2" width="15" height="11"></td>
                <td>-2.3</td>
            </tr>
            <tr>
                <td>20.1</td>
                <td>450.8</td>
                <td><img src="../img/status-icon-1-and-3.png" alt="status-icon-1-and-3" width="15" height="11"></td>
                <td>+8.0</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>