<div class="headerIcons">
    <p class="headerIcons__text">poz<span class="headerIcons__text--color">nan</span> - city<span class="headerIcons__text--color">2</span>live</p>
    <div class="headerIcons__blockIcons">
        <a href="#"><img src="../img/icon-header-right-1.png" alt="icon-header-right-1"></a>
        <a href="#"><img src="../img/icon-header-right-2.png" alt="icon-header-right-2"></a>
        <a href="#"><img src="../img/icon-header-right-3.png" alt="icon-header-right-3"></a>
        <a href="#"><img src="../img/icon-header-right-4.png" alt="icon-header-right-4"></a>
        <a href="#"><img src="../img/icon-header-right-5.png" alt="icon-header-right-5"></a>
        <a href="#"><img src="../img/icon-header-right-6.png" alt="icon-header-right-6"></a>
    </div>
</div>