<div class="map">
    <p class="map__p1">where can i find more information</p>
    <div id="map"></div>
    <div class="map__footer">
        <p>poz<span>nan</span>-city<span>2</span>live</p>
        <div class="map__footer--nav">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">product</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <p class="map__p2">all rights reserved 2013</p>
</div>