<div class="middle">
    <div class="middle__block1">
        <p class="middle__block1--headerP">why should you come to poznan</p>
        <div class="middle__block1--part1">
            <div class="line">
                <div class="line__block1">
                    <div><span>11 Nov<br>2013</span></div>
                    <div><span>by<br>John Doe</span></div>
                </div>
                <div class="line__block2">
                    <p>Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio  em nec elit. Sed posuere<br>consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla.<br>Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla... </p>
                    <div class="line__block2--footer">
                        <button>read more</button>
                        <div class="line__block2---footerRight">
                            <div class="joinRight">
                                <div class="container1"><img src="../img/like-icon.png" alt="like-icon" width="16" height="15"></div>
                                <a href="#"><span>10 kiles</span></a>
                            </div>
                            <div class="joinRight">
                                <div class="container2"><img src="../img/comment-icon.png" alt="comment-icon" width="16" height="17"></div>
                                <a href="#"><span>22 comments</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>