<div class="blockImg">
    <div class="blockImg__text1 blockImg__join">visit poz<span>nan</span></div>
    <div class="blockImg__text2 blockImg__join">a city on the <span>Warta</span> river in west-central <span>Poland</span>, the region called <span>Greater Poland.</span></div>
    <div class="blockImg__block3">
        <div class="blockImg__block3--join">
            <img src="../img/font-head-2.png" alt="face-head-1.png" width="94" height="96">
            <div>
                <p>I was in Poznan once.<br>
                    The architecture<br>
                    is really awesome.<br>
                    <span>Joe Wisdom, architect</span>
                </p>
            </div>
        </div>
        <div class="blockImg__block3--join">
            <img src="../img/font-head-2.png">
            <div>
                <p>I was lost in Poznan<br>
                    for 3 days.<br>
                    I was terrified.<br>
                    <span>Little Box, child</span>
                </p>
            </div>
        </div>
        <div class="blockImg__block3--join">
            <img src="../img/font-head-3.png">
            <div>
                <p>People used to<br>
                    look at me now<br>
                    they don’t see me.<br>
                    <span>Eva Doe, exmodel</span>
                </p>
            </div>
        </div>
        <div class="blockImg__block3--join">
            <img src="../img/font-head-4.png">
            <div>
                <p>I have a lot of penfriends<br>
                    in Poznań. I like<br>
                    writting to them and ...<br>
                    <span>Emma Smith, child</span>
                </p>
            </div>
        </div>
    </div>
</div>